.navbar {
  background-color: #f8f8ff;
  overflow: hidden;
  justify-content: space-between;
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  font-family: 'Proxima Nova';
}

.navbar a {
  text-align: center;
  text-decoration: none;
  color: #000;
  font-size: 1.125rem;
}

.navbar a:hover {
  background-color: #d8e8ff;
  color: #000;
}

.title {
  display:flex;
  justify-content: center;
  text-align: center;
}

.box {
  align-items: center;
  background-color: #9CC4FF;
  width: 12.5rem;
  height: 3.125rem;
  margin-top: 6.25rem;
  border-radius: 50px;
  box-shadow: 0.125rem 0.125rem #cccccc;
}

.box p {
  font-family: 'Montserrat';
  font-weight: bolder;
  font-size: 1rem;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.1875rem;
}

.image img {
  display: flex;
  width: 80vw;
  height: 80vh;
  object-fit: contain;
  border: 0.5rem solid #000;
  border-radius: 1.5625rem;
}

.team_info {
  margin-top: 0.9375rem;
  font-family: 'Proxima Nova';
}

.team {
  text-align: center;
  font-size: 1.125rem;
}

.team span{
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

.image2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4.6875rem;
}

.image2 img{
  width: 15.625rem;
  height: 15.625rem;
  object-fit: contain;
}
