.navbar {
  background-color: #f8f8ff;
  justify-content: space-between;
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  font-family: 'Proxima Nova';
}

.navbar a {
  text-align: center;
  text-decoration: none;
  color: #000;
  font-size: 1.125rem;
}

.navbar a:hover {
  background-color: #d8e8ff;
  color: #000;
}

.banner {
  color: #000;
  margin-left: 8.25%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 1000;
  margin-top: 10%;
  line-height: 25%;
  font-size: 3.4375rem;
  text-shadow: 0.0625rem 0.09375rem #ccc;
}

.banner p:hover {
  animation: shake 0.5s cubic-bezier(0.5, 0.075, 0.25, 1.0) both;
  backface-visibility: hidden;
  perspective: 1000px;
}

.banner2 {
  color: #0E408A;
  font-family: 'Montserrat', sans-serif;
  font-weight: 1000;
  font-size: 3.4375rem;
  text-shadow: 0.0625rem 0.09375rem #ccc;
}

.wrap {
  display: left;
  border-radius: 3rem;
  overflow: hidden;
  box-sizing: 18.75rem;
  height: 9.375rem;
  width: 30.09375rem;
  background-color: #9CC4FF;
  margin-left: 8.25%;
  box-shadow: 0.0625rem 0.09375rem #ccc;
}

.item {
  flex: 1;
  margin-left: 7.1875%;
  margin-right: 5.5625%;
  margin-top: 10.125%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.ui_elements {
  display: flex;
  align-items: flex-start;
  margin-left: 9.25%;
}

.ui_elements:hover {
  animation: shake 0.5s cubic-bezier(0.5, 0.075, 0.25, 1.5) both;
}

.ui_1 {
  border-radius: 2.8125rem;
  overflow: hidden;
  box-sizing: 18.75rem;
  height: 0.75rem;
  width: 9.375rem;
  background-color: #9CC4FF;
  margin-top: 1.25%;
  box-shadow: 0.0625rem 0.09375rem #ccc;
}

.ui_2 {
  border-radius: 2.8125rem;
  overflow: hidden;
  box-sizing: 18.75rem;
  height: 0.75rem;
  width: 0.625rem;
  background-color: #9CC4FF;
  margin-top: 1.25%;
  margin-left: 0.5%;
  box-shadow: 0.0625rem 0.09375rem #ccc;
}

.button {
  border: 0.10em solid #000; 
  color: #000;
  background-color: #f8f8ff;
  border-radius: 0.35em;
  font-family: 'Proxima Nova';
  height: 2.1875em; 
  width: 7.8125em; 
  margin-top: 3.75em; 
  margin-left: 10em; 
}

.button:hover {
  background-color: #d8e8ff;
  color: #000;
  cursor: pointer;
}

#page-container {
  position: relative;
  min-height: 45vh;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15vh;
  background-color: #000;
}

#content-wrap {
  margin-left: 3.125%; 
  margin-top: 2.5%; 
}

#content-wrap img {
  width: 1.5625%; 
  height: 1.5625%; 
  object-fit: contain;
  margin-left: 0.625%; 
  cursor: pointer;
}

.profile img {
  float: right;
  position: absolute;
  width: 55%; 
  height: 55%; 
  left: 50%; 
  margin-top: 15%;
  object-fit: contain;
}

@keyframes shake {
  0% { transform: translateX(0) }
  25% { transform: translateX(0.1rem) }
  50% { transform: translateX(-0.1rem) }
  75% { transform: translateX(0.1rem) }
  100% { transform: translateX(0) }
}

