.navbar {
    background-color: #f8f8ff;
    overflow: hidden;
    justify-content: space-between;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    font-family: 'Proxima Nova';
  }
  
  .navbar a {
    text-align: center;
    text-decoration: none;
    color: #000;
    font-size: 1.125rem;
  }
  
  .navbar a:hover {
    background-color: #d8e8ff;
    color: #000;
  }
  

  .greetings {
    justify-content: left;
    font-family: 'Montserrat', 'Black Han Sans';
    font-weight: normal;
    font-size: 1.75vw;
    margin-top: 9.375%;
    margin-bottom: 1.5625%;
    margin-left: 9.375%;
    color: #000
  }

  .greetings:hover {
    animation: shake 0.5s cubic-bezier(0.5, 0.075, 0.25, 1.0) both;
  }

  .chamorro {
    font-family: 'Montserrat';
    font-weight: bold;
    margin: 0 auto;
    display: inline-block;
  }

  .p1 {
    display: flex;
    align-items: flex-start;
    margin-left: 7.71875%;
    margin-right: 10.41667%;
    font-family: 'Proxima Nova';
    font-size: 1vw;
  }

  .ui_4 {
    border-radius: 2.8125rem;
    overflow: hidden;
    box-sizing: 18.75rem;
    height: 3rem;
    width: 1.5rem;
    background-color: #9CC4FF;
    margin-top: 1.25%;
    margin-left: 0.3125%;
    margin-right: 1.05%;
    box-shadow: 0.0625rem 0.09375rem #ccc;
  }

  .img1 {
    width: 46.875vw;
    height: 46.875vw;
    object-fit: contain;
    z-index: -1;
  }

  .p2 {
    display: flex;
    align-items: flex-start;
    margin-left: 6.25%;
    margin-right: 10.41667%;
    margin-top: 0.78125%;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 3.75vw;
  }

  .banner1 {
    margin-top: 7.8125%;
    color: #0E408A;
    font-size: 2.5vw;

  }

  .banner_text:hover {
    animation: shake 0.5s cubic-bezier(0.5, 0.075, 0.25, 1.0) both;
  }

  .text_1 {
    color: #000;
    display: inline-block;
  }

  .text1 {
    display: inline-block;
  }

  .text_2 {
    color: #000;
    display: inline-block;
  }

  .text2 {
    display: inline-block;
  }

  .banner_text2:hover {
    animation: shake 0.5s cubic-bezier(0.5, 0.075, 0.25, 1.0) both;
  }

  .p2_text p {
    margin-left: 2.34375%;
    margin-top: 12.5%;
    margin-right: 1.5625%;
    font-family: 'Proxima Nova';
    font-weight: normal;
    font-size: 1vw;
    color:#000;
  }

  .banner2 {
    margin-top: 15.625%;  
  }

  .p3 {
    display: flex;
    align-items: flex-start;
    margin-left: 10%;
    margin-right: 8.33%;
    margin-top: -20%;
    font-family: 'Proxima Nova';
    font-size: 1.125rem;
    z-index: -1;
  }

  .ui_5 {
    border-radius: 2.8125rem;
    overflow: hidden;
    box-sizing: 18.75rem;
    height: 6.5rem;
    width: 3.5rem;
    background-color: #9CC4FF;
    margin-top: 25.25%;
    margin-right: 1.05%;
    box-shadow: 0.0625rem 0.09375rem #ccc;
  }

  .p3 p {
    margin-right: 4.167%;
    margin-top: 25.4%;
    font-size: 1vw;
  }

  .img2 {
    width: 50%;
    height: 50%;
    object-fit: contain;
    z-index: -1;
    float: right;
    position: relative;
    margin-left: 1.042%;
    margin-top: 5%;
  }

  #page-container {
    position: relative;
    min-height: 45vh;
  }
  
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15vh;
    background-color: #000;
  }
  
  #content-wrap {
    margin-left: 50px;
    margin-top: 40px;
  }
  
  #content-wrap img {
    width: 25px;
    height: 25px;
    object-fit: contain;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .profile img {
    float: right;
    z-index: -1;
    position: absolute;
    width: 525px;
    height: 450px;
    left: 850px;
    top: 242px;
    object-fit: contain;
  }
  
  @keyframes shake {
    0% { transform: translateX(0) }
    25% { transform: translateX(0.1rem) }
    50% { transform: translateX(-0.1rem) }
    75% { transform: translateX(0.1rem) }
    100% { transform: translateX(0) }
  }
  
  