.navbar {
    background-color: #f8f8ff;
    overflow: hidden;
    justify-content: space-between;
    display: flex;
    float: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top:50px;
    font-family: 'Proxima Nova';
  }
  
  .navbar a {
    text-align: center;
    text-decoration: none;
    color: #000;
    font-size: 18px;
  }
  
  .navbar a:hover {
    background-color: #d8e8ff;
    color: #000;
  }

.mp_1 {
    display: block;
    align-self: flex-start;
    justify-content: flex-start;
    margin-top: 125px;
}

.title {
    font-size: 24px;
    font-family: 'Montserrat';
    font-weight: 500;
    text-align: center;
}

.usage {
    font-size: 18px;
    font-family: 'Proxima Nova';
    font-weight: normal;
    margin-top: 50px;
    font-weight: bold;
    line-height: 22px;
    text-align: left;
    margin-left: 310px;


}

.usage_content {
    font-size: 16px;
    font-family: 'Proxima Nova';
    font-weight: normal;
    margin-top: 15px;
    margin-left: 15px;
    line-height: 22px;
    text-align: center;

}

.gif {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 35px;
    border: 5px 5px #000;
    border-style: solid;
    border-radius: 50px;
}

.gif img {
    width: 1000px;
    height: 500px;
    object-fit: contain;
}

.dev {
    font-size: 18px;
    font-family: 'Proxima Nova';
    font-weight: normal;
    margin-top: 100px;
    font-weight: bold;
    line-height: 22px;
    text-align: left;
    margin-left: 310px;
}

.dev_content {
    font-size: 16px;
    font-family: 'Proxima Nova';
    font-weight: normal;
    margin-top: 15px;
    margin-left: 350px;
    line-height: 22px;
    text-align: left;
    margin-right: 350px;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 350px;
    margin-right: 350px;
    
}

.slideshow-container {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    width: 65%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
  
.slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
  
.slide.active {
    opacity: 1;
}


.deep_dive {
    font-size: 18px;
    font-family: 'Proxima Nova';
    font-weight: normal;
    margin-top: 50px;
    font-weight: bold;
    line-height: 22px;
    text-align: left;
    margin-left: 310px;

}

#issue {
    font-size: 16px;
    font-family: 'Proxima Nova';
    font-weight: normal;
    margin: 15px;
    width: 750px;
    line-height: 22px;

}

#steps {
    font-size: 16px;
    font-family: 'Proxima Nova';
    font-weight: normal;
    margin-top: 15px;
    margin-left: 50px;
    line-height: 22px;
    text-align: left;
    margin-right: 350px;
}

#ideas {
    font-size: 18px;
    font-family: 'Proxima Nova';
    font-weight: normal;
    margin-top: 100px;
    font-weight: bold;
    line-height: 22px;
    text-align: left;
    margin-left: 310px;

}

#changes {
    font-size: 16px;
    font-family: 'Proxima Nova';
    font-weight: normal;
    margin-top: 15px;
    margin-left: 350px;
    line-height: 22px;
    text-align: left;
    margin-right: 350px;
}

#kudos {
    font-size: 18px;
    font-family: 'Proxima Nova';
    font-weight: normal;
    margin-top: 50px;
    font-weight: bold;
    line-height: 22px;
    text-align: left;
    margin-left: 310px;
}

#help {
    font-size: 16px;
    font-family: 'Proxima Nova';
    font-weight: normal;
    margin-top: 15px;
    margin-left: 350px;
    line-height: 22px;
    text-align: left;
    margin-right: 350px;
}

#page-container {
    position: relative;
    min-height: 45vh;
  }
  
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15vh;
    background-color: #000;
  }
  
  #content-wrap {
    margin-left: 50px;
    margin-top: 40px;
  }
  
  #content-wrap img {
    width: 25px;
    height: 25px;
    object-fit: contain;
    margin-left: 10px;
    cursor: pointer;
  }



