.navbar {
    background-color: #f8f8ff;
    overflow: hidden;
    justify-content: space-between;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    font-family: 'Proxima Nova';
}

.navbar a {
    text-align: center;
    text-decoration: none;
    color: #000;
    font-size: 1.125rem;
}

.navbar a:hover {
    background-color: #d8e8ff;
    color: #000;
}

.mp_1 {
    display: block;
    align-self: flex-start;
    justify-content: flex-start;
    margin-top: 12.5vh;
}

.title {
    font-size: 1.75vw;
    font-family: 'Montserrat';
    font-weight: 500;
    text-align: center;
}

.usage {
    font-size: 1.2vw;
    font-family: 'Proxima Nova';
    font-weight: normal;
    margin-top: 5vh;
    font-weight: bold;
    line-height: 2.2vw;
    text-align: left;
    margin-left: 19.5vw;
}

.usage_content {
    font-size: 1vw;
    font-family: 'Proxima Nova';
    font-weight: normal;
    margin-top: 1.5vh;
    margin-left: 20.5vw;
    line-height: 1.5vw;
    text-align: left;
    margin-right: 22.5vw;
}

.gif {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 17.5vw;
    margin-right: 17.5vw;
    margin-bottom: 7.5vh;
    margin-top: 5vh;
    border: 5px 5px #000;
    border-style: solid;
    border-radius: 5vw;
}

.gif img {
    width: 60vw;
    height: 30vw;
    object-fit: contain;
}

.dev {
    font-size: 1.2vw;
    font-family: 'Proxima Nova';
    font-weight: normal;
    margin-top: 5vh;
    font-weight: bold;
    line-height: 2.2vw;
    text-align: left;
    margin-left: 19.5vw;
}

.dev_content {
    font-size: 1vw;
    font-family: 'Proxima Nova';
    font-weight: normal;
    margin-top: 1.5vh;
    margin-left: 20.5vw;
    line-height: 1.5vw;
    text-align: left;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 17.5vw;
    margin-right: 17.5vw;
    margin-bottom: 7.5vh;
    margin-top: 5vh;
    border: 5px 5px #000;
    border-style: solid;
    border-radius: 5vw;
    
}

.slideshow-container {
    position: relative;
    width: 100%;
    height: 42.5vh;
    overflow: hidden;
    width: 65%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
  
.slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
  
.slide.active {
    opacity: 1;
}


.deep_dive {
    font-size: 1.2vw;
    font-family: 'Proxima Nova';
    font-weight: normal;
    margin-top: 5vh;
    font-weight: bold;
    line-height: 2.2vw;
    text-align: left;
    margin-left: 19.5vw;
}

#issue {
    font-size: 1vw;
    font-family: 'Proxima Nova';
    font-weight: normal;
    margin-top: 1.5vh;
    line-height: 1.5vw;
    text-align: left;
    margin-right: 15.5vw;
}

#steps {
    font-size: 1vw;
    font-family: 'Proxima Nova';
    font-weight: normal;
    margin-top: 1.5vh;
    margin-left: 2.5vw;
    line-height: 1.5vw;
    text-align: left;
    margin-right: 20vw;

}

#ideas {
    font-size: 1.2vw;
    font-family: 'Proxima Nova';
    font-weight: normal;
    margin-top: 5vh;
    font-weight: bold;
    line-height: 2.2vw;
    text-align: left;
    margin-left: 19.5vw;
}

#changes {
    font-size: 1vw;
    font-family: 'Proxima Nova';
    font-weight: normal;
    margin-top: 1.5vh;
    line-height: 1.5vw;
    text-align: left;
    margin-right: 15.5vw;
    margin-left: 20.5vw;
}

#kudos {
    font-size: 1.2vw;
    font-family: 'Proxima Nova';
    font-weight: normal;
    margin-top: 5vh;
    font-weight: bold;
    line-height: 2.2vw;
    text-align: left;
    margin-left: 19.5vw;
}

#help {
    font-size: 1vw;
    font-family: 'Proxima Nova';
    font-weight: normal;
    margin-top: 1.5vh;
    line-height: 1.5vw;
    text-align: left;
    margin-right: 15.5vw;
    margin-left: 20.5vw;
    margin-bottom: 7.8125rem;

}

#page-container {
    position: relative;
    min-height: 20vh;
  }
  
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15vh;
    background-color: #000;
  }
  
  #content-wrap {
    margin-left: 3.125rem; 
    margin-top: 2.5rem;
  }
  
  #content-wrap img {
    width: 1.5625rem; 
    height: 1.5625rem; 
    object-fit: contain;
    margin-left: 0.625rem;
    cursor: pointer;
  }
  
  


