.navbar {
    background-color: #f8f8ff;
    overflow: hidden;
    justify-content: space-between;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    font-family: 'Proxima Nova';
}

.navbar a {
    text-align: center;
    text-decoration: none;
    color: #000;
    font-size: 1.125rem;
}   

.navbar a:hover {
    background-color: #d8e8ff;
    color: #000;
}

.mp_2 {
    display: block;
    align-self: flex-start;
    justify-content: flex-start;
    margin-top: 12.5vh;
}

.title {
    font-size: 1.75vw;
    font-family: 'Montserrat';
    font-weight: 500;
    text-align: center;
}

.usage {
    font-size: 1.2vw;
    font-family: 'Proxima Nova';
    font-weight: normal;
    margin-top: 5vh;
    font-weight: bold;
    line-height: 2.2vw;
    text-align: left;
    margin-left: 19.5vw;
}

.usage_content {
    font-size: 1vw;
    font-family: 'Proxima Nova';
    font-weight: normal;
    margin-top: 1.5vh;
    margin-left: 20.5vw;
    line-height: 1.5vw;
    text-align: left;
    margin-right: 22.5vw;
}

.dev {
    font-size: 1.2vw;
    font-family: 'Proxima Nova';
    font-weight: normal;
    margin-top: 5vh;
    font-weight: bold;
    line-height: 2.2vw;
    text-align: left;
    margin-left: 19.5vw;
}

.dev_title {
    font-weight: bold;
    font-size: 1.05vw;
}

.dev_content {
    font-size: 1vw;
    font-family: 'Proxima Nova';
    font-weight: normal;
    margin-top: 1.5vh;
    margin-left: 20.5vw;
    line-height: 1.5vw;
    text-align: left;
}

iframe {
    display: block;
    margin: 0 auto;
    border: none;
    overflow: hidden;
    box-sizing: content-box;
    height: 42.5rem;
    width: 100rem;
    margin-left: 57.75rem;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: 5.5vw;
    margin-top: 10vh;
}

.step_2 {
    font-size: 1vw;
    font-family: 'Proxima Nova';
    font-weight: normal;
    margin-left: 20.5vw;
    line-height: 1.5vw;
    text-align: left;
    margin-bottom: 10vh;
}

.step2_title {
    font-weight: bold;
    font-size: 1.05vw;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.program2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 145.95rem;
}

.program2 button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0E408A;
    height: 2.25rem;
    width: 10rem;
    margin-bottom: 2.5rem;
    margin-left: 0.575rem;
    border: 0.5rem 0.5rem #0E408A;
    border-radius: 5rem;  
    color: #FFF;
    font-family: 'Proxima Nova'; 
}

.program2 button:hover {
    cursor: pointer;
}

.step_3 {
    font-size: 1vw;
    font-family: 'Proxima Nova';
    font-weight: normal;
    margin-left: 20.5vw;
    line-height: 1.5vw;
    text-align: left;
    margin-right: 20.5rem;

}

.step3_title {
    font-weight: bold;
    font-size: 1.05vw;
}

.container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}

.program3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 155rem;
}

.program3 button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0E408A;
    height: 2.25rem;
    width: 10rem;
    margin-bottom: 2.5rem;
    margin-left: 0.575rem;
    border: 0.5rem 0.5rem #0E408A;
    border-radius: 5rem;  
    color: #FFF;
    font-family: 'Proxima Nova'; 
}

.program3 button:hover {
    cursor: pointer;
}

.step_4 {
    font-size: 1vw;
    font-family: 'Proxima Nova';
    font-weight: normal;
    margin-left: 20.5vw;
    line-height: 1.5vw;
    text-align: left;
    margin-top: 10rem;
    margin-right: 20.5rem;

}

.step4_title {
    font-weight: bold;
    font-size: 1.05vw;
}

.container4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    margin-right: 75rem;
    margin-left: 55rem;
}

.program4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 75rem;
}

.step_5 {
    font-size: 1vw;
    font-family: 'Proxima Nova';
    font-weight: normal;
    margin-left: 20.5vw;
    line-height: 1.5vw;
    text-align: left;
    margin-top: 10rem;
    margin-right: 20.5rem;

}

.step5_title {
    font-weight: bold;
    font-size: 1.05vw;
}

.container5 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    margin-right: 75rem;
    margin-left: 55rem;
    height: 55rem;
    background-color: #000;
}

.program5 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 75rem;
    background-color: #0E408A;
}

.step_6 {
    font-size: 1vw;
    font-family: 'Proxima Nova';
    font-weight: normal;
    margin-left: 20.5vw;
    line-height: 1.5vw;
    text-align: left;
    margin-top: 10rem;
    margin-right: 20.5rem;
}

.step6_title {
    font-weight: bold;
    font-size: 1.05vw;
}

.container6 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    margin-right: 75rem;
    margin-left: 55.5rem;
    height: 50rem;
    background-color: #000; 
}

.program6 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 75rem;
    background-color: #f8f8ff;
}

.deep_dive {
    font-size: 1.2vw;
    font-family: 'Proxima Nova';
    font-weight: normal;
    margin-top: 5vh;
    font-weight: bold;
    line-height: 2.2vw;
    text-align: left;
    margin-left: 19.5vw;
}

#issue {
    font-size: 1vw;
    font-family: 'Proxima Nova';
    font-weight: normal;
    margin-top: 1.5vh;
    line-height: 1.5vw;
    text-align: left;
    margin-right: 15.5vw;
}


#ideas {
    font-size: 1.2vw;
    font-family: 'Proxima Nova';
    font-weight: normal;
    margin-top: 5vh;
    font-weight: bold;
    line-height: 2.2vw;
    text-align: left;
    margin-left: 19.5vw;
}

#changes {
    font-size: 1vw;
    font-family: 'Proxima Nova';
    font-weight: normal;
    margin-top: 1.5vh;
    line-height: 1.5vw;
    text-align: left;
    margin-right: 15.5vw;
    margin-left: 20.5vw;
}

#kudos {
    font-size: 1.2vw;
    font-family: 'Proxima Nova';
    font-weight: normal;
    margin-top: 5vh;
    font-weight: bold;
    line-height: 2.2vw;
    text-align: left;
    margin-left: 19.5vw;
}

#help {
    font-size: 1vw;
    font-family: 'Proxima Nova';
    font-weight: normal;
    margin-top: 1.5vh;
    line-height: 1.5vw;
    text-align: left;
    margin-right: 15.5vw;
    margin-left: 20.5vw;
    margin-bottom: 7.8125rem;

}

#page-container {
    position: relative;
    min-height: 35vh;
}
  
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15vh;
    background-color: #000;
}

#content-wrap {
    margin-left: 3.125%; 
    margin-top: 2.5%; 
}

#content-wrap img {
    width: 1.5625%; 
    height: 1.5625%; 
    object-fit: contain;
    margin-left: 0.625%; 
    cursor: pointer;
}



  
